body {
    margin: 0%;

    font-family: 'Poppins', sans-serif;
}

.holud {
    color: gold;
}

h1 {
    font-size: 50px;
}

section {

    display: flex;
}


.link-button {

    text-decoration: none;

    padding: 10px 40px;


    background-image: linear-gradient(orange, red);
    border-radius: 20px;

    color: white;

    font-weight: 700;


}


.first-section {


    background-image: url(images/top-banner.png);

    background-repeat: no-repeat;
}

.quote {

    font-size: 200%;

    font-weight: 600;
}

.link-button2 {
    margin-left: 350px;

    text-decoration: none;

    padding: 10px 40px;


    background-image: linear-gradient(orange, red);
    border-radius: 20px;

    color: white;

    font-weight: 700;
}

.neww {

    width: 40%;

    margin-left: 7%;

    margin-right: 5%;
    box-shadow: 10px 10px 40px lightblue;

    padding-left: 5%;
    padding-right: 5%;

    margin-bottom: 20px;

    border-left: 10px solid yellow;
}

.onlyimg {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;





}

#yo {

    border-left: 10px solid coral;
}

#janina {
    font-size: larger;
}